#prodata{
    margin: 20px;
    display: flex;
    align-items: flex-start;
    form, table,ul {
        background-color: #fff;
        padding: 20px;
        border-radius: 8px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        width: 400px;
        margin: 20px;
    }

    label {
        display: block;
        margin-bottom: 8px;
    }

    input,
    select,
    textarea {
        width: 100%;
        padding: 8px;
        margin-bottom: 16px;
        box-sizing: border-box;
        border: 1px solid #ccc;
        border-radius: 4px;
    }

    input[type="submit"] {
        background-color: #4caf50;
        color: white;
        cursor: pointer;
    }

    input[type="submit"]:hover {
        background-color: #45a049;
    }
    ul {
        list-style-type: none;
        padding: 0;
    }

    li {
        border: 1px solid #ddd;
        margin: 5px;
        padding: 10px;
        position: relative;
    }
    a {
        display: inline-block;
        margin-left: 10px;
        text-decoration: none;
        padding: 5px 10px;
        background-color: #4CAF50;
        color: white;
        border-radius: 3px;
        transition: background-color 0.3s;
    }

    a:hover {
        background-color: #45a049;
    }
    a.delete {
        background-color: #f44336;
    }

    a.delete:hover {
        background-color: #d32f2f;
    }
    table {
        width: 100%;
        border-collapse: collapse;
        margin-bottom: 10px;
    }

    th, td {
        border: 1px solid #ccc;
        padding: 8px;
        text-align: left;
    }

    .img_prodata{
        width: 100px;
    }

}

#liste_collectif{
    display: flex;
    flex-wrap: wrap;
    margin: 1%;
    @media (max-width: 767px) {
        margin: 1px; // Ajustez la marge pour le mode téléphone
    }
    .user-box {
        margin: 1%;
        width: 250px;
        height: 260px;
        background-color: #fff;
        border: 1px solid #ccc;
        border-radius: 8px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        overflow: hidden;
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;
        @media (max-width: 767px) {
            width: 225px;
            margin: 5px; // Ajustez la marge pour le mode téléphone
        }
    }
    
    .user-image {
        width: 100%;
        height: 120px;
        background-color: #ddd; /* Couleur de fond de la .user-image */
        background-size: cover;
        background-position: center;
        overflow: hidden;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    img {
        width: 100px;
        height: 100px;
        border-radius: 50%;
        object-fit: cover;
        position: absolute;
        top: 14px;
    }
    
    .user-info {
        padding: 50px 10px 10px 10px;
        h2 {
            margin: 0;
            font-size: 1.2em;
            color: #333;
            text-transform: capitalize;
            text-align: center;
        }
        
        p {
            margin: 5px 0;
            font-size: 0.8em;
            color: #777;
        }
    }
    .connect-btn {
        margin-top: 10px;
        padding: 8px 15px;
        background-color: #007bff;
        color: #fff;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        margin-bottom: 5px;
    }
    
}